#address-h3 {
    /* margin: 20px;
    padding: 20px; */
    /* align-content: space-around; */
}

#main-address-form {
    display: inline-block;
}

.address-form {
    justify-content: center;
    align-items: center;    
}

#style-list {
    width: 100px;
    height: 50px;
}

#cart-button {
    background-color: #e53935;
}

.card-menu {
    min-height: 250px;
    min-width: 350px;
    /* max-height: 250px;
    max-width: 350px; */
    flex: 0ex;
    display: inline-block;
    margin: 20px;
}

.chef-list-item {
    background-color: #11111130;
    min-height: 40px;
    width: 100%;
    overflow: auto;
}

.chef-profile-pic {
    width: 350px;
    height: 250px;
}

.chef_list_item img {
    float: left;
}

.chef-list-item .details {
    display: inline-block;
    min-height: 40px;
    padding-left: 20px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #eee;
  }

#hire-chef-button {
    float: right;
    padding: 35px;
    margin: 40px;
}

#checkout-cart {
    display: inline-block;
    min-height: 30px;
    padding-left: 20px;
    margin: 10px;
}

#checkout-order-information {
    background-color: #11111130;
    min-height: 40px;
    width: 100%;
    overflow: auto;
    float: left;
    margin: 15px;
    padding: 10px;
    text-align: center;
    list-style: none;
}

.checkout-gridList {
    height: 500px;
}

.main-checkout-div {
    float: left;
    max-height: 900px;
    max-width: 900px;
}

.checkout-list {
    max-width: 800px;
    margin: 0 auto;
    background-color: #11111130;
}

.menu-item-image {
    height: 275px;
    max-width: 350px;
}

.login-page {
    text-align: center;
    line-height: 50px;
}

#login-button {
    justify-content: center;
}

#login-form {
    background-color: #eee;
    justify-content: center;
    align-items: center;
}

.form-login {
    margin: 50px;
    padding: 50px;
}

.menu-h1 {
    display: inline-block;
}

.menu-h1-menu {
    text-align: center;
}

.payment-button {
    justify-content: flex-end;
}

.user-update-form {
    display: inline-block;
}

