#address-h3 {
    margin: 20px;
    padding: 20px;
}

.card-menu {
    min-height: 250px;
    min-width: 350px;
    flex: 0ex;
    display: inline-block;
    margin: 20px;
}

.chef-list-item {
    background-color: #11111130;
    min-height: 40px;
    width: 100%;
    overflow: auto;
}

.chef_list_item img {
    float: left;
}

.chef-list-item .details {
    display: inline-block;
    min-height: 40px;
    padding-left: 20px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #eee;
  }

#hire-chef-button {
    float: right;
    padding: 35px;
    margin: 40px;
}

.login-page {
    text-align: center;
    line-height: 50px;
}

#login-button {
    justify-content: center;
}

#login-form {
    background-color: #eee;
    justify-content: center;
    align-items: center;
}

.form-login {
    margin: 50px;
    padding: 50px;
}

.menu-h1 {
    display: inline-block;
}

.menu-h1-menu {
    text-align: center;
}

